.btn {
    color:white;
    background-color:lightgrey;
    border:2px solid grey;
    border-radius:15px;

}
body {
    background-color:lightgrey;
    text-align:center;
}
#bar {
    background-color:white;
    border-radius:15px;
    border: 5px solid grey;
    width:100%;
    

}
